*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 200;
    color: #222;
}

div{
    margin: 30px;
}

caption{
    font-size: 22px;
    font-weight: bold;
}

span{
    text-align: center;
}

textarea{
    font-family: sans-serif;
    font-size: 18px;
    padding: 4px;
    min-width: 300px;
    min-height: 100px;
    width: 400px;
    height: 150px;
    max-width: 600px;
    max-height: 300px;
}

iframe{
    width: 800px;
}

label{
    display: inline-block;
    font-size: 15px;
    color: #333;
    font-weight: bold;
}

h4{
    margin-bottom: 15px;
}

input{
    margin: 5px 0px;
    padding: 5px 0px 5px 5px;
    font-size: 16px;
}

select{
    text-align: center;
    min-width: 130px;
    height: 30px;
    font-size: 16px;
    margin: 5px 0px;
    padding: 0px 10px;
}

.main{
    margin-top: 50px;
    padding-top: 1px
}

.main_messages{
    margin-left: 150px;
    margin-top: 55px;
    padding-top: 1px
}

.inline{
    display: inline-block;
    margin: 15px;
    vertical-align: top;
}

.top{
    vertical-align: top;
}

.none{
    margin: 0;
    padding: 0;
}

.user_view{
    display: inline-block;
    margin: 0px;
    vertical-align: top;
}

.password_view{
    transition: background-color .2s;
}

.error{
    color: red;
    font-size: 13px;
    font-weight: bold;
}

.button{
    background: #65b891;
    border: 0 none;
    color: white;
    font-size: 16px;
    border-radius: 2px;
    transition: background-color .2s, box-shadow .2s;
    text-align: center;
    padding: 2px;
    margin: 2px;
    min-width: 80px;
    height: 30px;
}
.buttonBack{
    background: #65b891;
    border: 0 none;
    color: white;
    font-size: 16px;
    transition: background-color .2s, box-shadow .2s;
    border-radius: 2px;
    text-align: center;
    padding: 5px 20px;
    margin: 2px;
    text-decoration: none;
}
.button:hover, .buttonBack:hover{
    background-color: #93e5ab;
    box-shadow: 0px 0px 10px #6EF573;
}

.button:active, .buttonBack:active{
    background-color: #3e8e41;
    box-shadow: 0px 0px 5px -1px black;
}

.button:disabled{
    background : gray;
}

.role_select{
    width: 130px;
    height: 30px;
    margin: 10px 10px 10px 5px;
}

#message_frame{
    width: 100%;
}

.align_center{
    text-align: center;
}
.category_div{
    float: left;
    text-align: center;
    text-decoration: none;
}
.category_select{
    padding: 10px;
    min-width: 175px;
    height: 200px;
    font-size: 18px
}

.select_user{
    width: 200px;
}

.user_table_div{
    margin: 30px;
    display: block;
}

.user_table {
    border:0;
    width: 100%;
    margin: auto;
    border-collapse:collapse;
    border: 1px solid #75a4a4;
}

.user_table td{
    text-align: center;
    color: #444;
    border: 0;
    height: 20px;
    padding: 10px;
}

.user_table th{
    text-align: center;
    background-color: #517b7b;
    color: white;
    border: 0;
    padding: 5px 10px;
}

.user_table td#name{
    text-align: left;
    padding-left: 50px;
    width: 60%;
}
.user_table td#role{
    width: 30%;
}

.user_table td#delete{
    width: 10%;
}

#print{
    border:0;
    width: 80%;
    margin: auto;
    border-collapse:collapse;
    border: 0 !important;
}

#print tr#print_date th{
    background-color: white;
    color: inherit;
}

#print tr#category th{
    background-color: #517b7b ;
}

#print tr#category_columns th{
    background-color: #75a4a4;
    border: 1px solid white;
}

.user_add_div{
    margin:30px;
    display: block;
    border: 1px solid #75a4a4;
}
.user_add_div input[type="text"], .user_add_div input[type="password"]{
    margin: 15px 5px;
}
.user_add_div h4{
    padding: 5px;
    background-color: #517b7b;
    color: white;
}
.user_add_div label{
    margin-left: 5px;
}

.userinput{
    display: block;
    color: #444;
    width: 300px;
    margin: 5px 0px;
    border: 1px solid #93e5ab;
    border-radius: 3px;
}


/* --------------------------MESSAGES TABLE STYLE--------------------- */
.message_table{
    width: 100%;
}
.message_table, .message_table th, .message_table td{
    border: 0;
    border-collapse: collapse;
    font-size: 16px;
    text-align: left;
    padding: 2px 0px 2px 10px;
}
.message_table tr{
    border-bottom: 1px solid grey;
}
.message_table td{
    color: #555;
    transition:background-color .25s;
}

.title{
    width: 65%;
}
.date{
    width: 10%;
    text-align: right;
    font-size: 16px;
}
.message_table tr:hover td:not(.delete){
    background-color: rgba(234, 234, 234, 0.76);
}
.unread td{
    color: #222 !important;
    font-weight: bold;
}
.unread {
    /* background-color: #CFFFBE; */
    border-left: 6px solid #65b891;
    border-bottom: 1px solid #65b891 !important;
}

/* ---------------------MESSAGE STYLE--------------------- */
.main_message_div{
    display: table;
    width: 600px;
    background-color: #F2F2F2;
    border-radius: 3px;
}
.message{
    display: block;
    margin: 15px;
}
.message span{
    display: inline-block;
}
.message #name{
    font-weight: bold;
    font-size: 17px;
    color: #717171;
    margin-bottom: 2px
}
.message #message{
    width: 77%;
    min-width: 200px;
    margin: 10px 10px 10px 20px;
    text-align: left;
    word-wrap: break-word;
    vertical-align: top;
}
.message #time{
    width: 10%;
    margin-top: 10px;
    font-size: 16px;
    text-align: left;
    vertical-align: bottom;
}

.reply_div{
    display: block;
}
#reply_text{
    width: 60%;
    height: 30%;
    min-width: 150px;
    min-height: 100px;
    max-height: 100px;
    max-width: 60%;
}


/* -----------------------NAVIGATION BAR STYLING--------------------------- */

nav{
    background: #333;
    padding: 0;
    margin: 0;
    position: fixed;
    width: 100%;
    top: 0px;
    box-shadow: 0px 0px 8px;
}

nav ul{
    position: relative;
    display: inline-flex;
    list-style-type: none;
}

nav ul:after{
    content: ""; clear: both; display: block;
}

nav ul li{
    float: left;
    transition: background-color .25s;
}
nav ul li:hover:not(#logout):not(#userrole_li):not(#timezone_li){
    background-color: rgba(218, 218, 218, 0.26);
}

nav ul li a{
    display: block;
    padding: 14px 16px;
    color: white;
    text-align: center;
    text-decoration: none;
}

nav ul ul {
    display: none;
    background: #333;
    border-radius: 0px;
    padding:0;
    position:absolute;
    transition:all .2s;
    top: 100%;
    box-shadow: 0px 3px 8px -2px #444;
}

nav ul li:hover > ul{
    display: block;
}

nav ul ul li{
    float:none;
    position: relative;
    text-align: center;
    border-bottom: 1px solid silver;
}

nav ul ul li a{
    padding: 12px 16px;
    font-size: 14px;
}

#nav_right{
    float: right;
}

#timezone{
    display: block;
    padding: 4px;
    color: white;
    font-size: 18px
}

#date_display{
    display: block;
    margin: 0;
    padding: 14px 16px;
    color: white;
}

#nav_date input{
    margin: 0;
    border: 0;
}

#nav_date:hover{
    box-shadow: 0px 3px 10px #4CAF50;
}

#userinfo {
    padding: 0;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    color: white;
    margin: 0px 5px 0px 5px;
}

#username{
    padding: 5px;
    margin: 10px 5px 5px 5px; 
    font-size: 18px;
}
#userrole{
    padding: 4px;
    margin: 0px;
    font-size: 15px;
    font-weight: bold;
}

#logout{
    padding: 0;
    margin: 0;
    padding-top: 14px;
}

#logout input{
    margin: 0px 10px 0px 2px;
}

nav .active{
    color: #4CAF50 !important;
    border-bottom: 3px solid #65b891;
}


/* ----------------------SIDE NAVIGATION BAR STYLE------------------- */

.sidenav{
    list-style-type: none;
    margin: 0;
    padding:0;
    width: 150px;
    /* background-color: #e6e6e6; */
    position: fixed;
    top: 50px;
    height: 100%;
    padding-top: 20px;
    box-shadow: 0px -10px 10px -2px #777;
}

.sidenav li{
    text-align: left;
}

.sidenav li#heading{
    text-align: center;
    border-bottom: 2px solid #75a4a4;
    padding-bottom:5px;
    font-size:20px;
}

.sidenav li a {
    display: block;
    padding: 10px 0px 10px 30px;
    margin: 5px 0px;
    text-decoration: none;
    color: #222;
    transition: color .2s, font-weight .2s;
}

.sidenav li:hover a{
/*     background-color: #65D269;*/
    background-color: #e6e6e6;
}

.composeButton{
    display: none;
    background: #4CAF50;
    border-radius: 2px;
    text-align: center;
}

.sidenav .active{
    color: #65b891 !important;
    border-left: 5px solid #65b891;
    font-weight: bold;
}


